{% extends "base.html" %}
{% block content %}
<div id="cesta_content">
    <div id="info_message_error">
    {% if way == 'points' %}
        <p><b> No dispone de puntos suficientes para realizar esta compra. </b></p>
        {% else %}
        <p><b> No dispone de balance suficiente para realizar esta compra. </b></p>
        {% endif %}
    </div>


    {% for product in product_list %}
    <div id="cesta_container">
        <div id="cesta_picture">
            <img alt="" class="image" src="{{ product.movie.image }}">
        </div>
        <div id="cesta_info">
            <p> <b>Título: </b>{{ product.movie.movietitle }} </p>
            <p> <b>Description: </b>{{ product.description }} </p>
            <p> <b>Cantidad: </b>{{ product.quantity }} </p>
        </div>
        <div id="cesta_price">
            <p> <b>Precio: </b>{{ product.total_price }}€ </p>
        </div>
    </div>
    {% endfor %}

    <div id="return">
        <br><br>
        <form class="" action="{{ url_for('inicio') }}" method="get">
            <button class = "button_cesar"> Continuar Comprando </button>
        </form>
    </div>
</div>
{% endblock %}
