{% extends "base.html" %}
{% block content %}
<div id = "cesta_content">
    <!-- Añadir saldo -->
    <div class="search">
        <p><b> Añadir saldo </b> </p>

        <form method="post">
            <input type="text" name="saldo" placeholder = " Dinero a añadir">
            <input type="submit" value="Añadir">
        </form>
    </div>

    <!-- Historial de compras -->
    <div id="title2">
        <p><b> HISTORIAL DE COMPRAS </b> </p>
    </div>

    <div id = "historial_container">
        {% for order in order_list %}
            <div id = "title3">
                <p> <b>PEDIDO {{ order.orderdate }}: </b> {{ order.totalamount }} € </p>
                <input type="button" class="more_info" id="more_{{order.order_number}}" name="boton1" value="Mas informacion">
                <input type="button" class="less_info" id="less_{{order.order_number}}" name="boton1" value="Menos informacion">
            </div>
    
            <div class="hidden_info" id="hidden_info_{{order.order_number}}">
                <p> <b>PELÍCULAS DEL PEDIDO: </b></p>
                {% for product in order.product_list %}
                <div id="cesta_container">
                    <div id="cesta_picture">
                        <img alt="" class="image" src="{{ product.movie.image }}">
                    </div>
                    <div id="cesta_info">
                        <p> <b>Título: </b>{{ product.movie.movietitle }} </p>
                        <p> <b>Description: </b>{{ product.description }} </p>
                        <p> <b>Cantidad: </b>{{ product.quantity }} </p>
                    </div>
                    <div id="cesta_price">
                        <p> <b>Precio: </b>{{ product.total_price }}€ </p>
                    </div>
                </div>
                {% endfor %}
            </div>
        {% endfor %}


        {% for fecha, lista_pelis, dinero_pedido in shopping_list %}
            <div id = "title3">
                <p> <b>PEDIDO {{ numero }}: </b> {{ dinero_pedido }} € </p>
                <input type="button" class="more_info" id="more_{{numero}}" name="boton1" value="Mas informacion">
                <input type="button" class="less_info" id="less_{{numero}}" name="boton1" value="Menos informacion">
            </div>
    
            <div class="hidden_info" id="hidden_info_{{numero}}">
                <p> <b>PELÍCULAS DEL PEDIDO: </b></p>
                {% for item in lista_pelis %}
                <div id = "cesta_container">
                    <div id = "cesta_picture">
                        <img alt="" class="image" src  = {{ item[0].poster }}>
                    </div>
                    <div id = "cesta_info">
                        <p> <b>Título: </b>{{ item[0].titulo }} </p>
                        <p> <b>Categoría: </b>{{ item[0].categoria }} </p>
                        <p> <b>Cantidad: </b>{{ item[1] }} </p>
                    </div>
                    <div id = "cesta_price">
                        <p> <b>Precio: </b>{{ item[0].precio }}€ </p>
                    </div>
                </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
