{% extends "base.html" %}
{% block content %}
<div id="content_for_film">
    <div id="film_content">
        <div id="film_title_cont">
            <div id="return">
                <form action="{{ url_for('inicio') }}" method="post">
                    <button class = "button_cesar"> Volver </button>
                </form>
            </div>
            <div id="film_title">
                <h2> {{movie.movietitle}} </h2>
            </div>
            <div class="fake_div"> </div>
        </div>
        <div id="film_picture">
            <img alt="" class="image" src="{{movie.image}}">
        </div>
        <div id="film_info">
            <div id="film_director">
                <p><b>DIRECTOR:</b></p>
                <p> {{movie.director}}</p>
            </div>
            <div id="film_actors">
            <p><b>ACTORES:</b> <br></p>
                {% for actor in movie.actors %}
                    <p><b>Nombre</b>: {{actor.actorname}}. <b>Personaje</b>: {{actor.character}}.</p>
                {% endfor %}
            </div>
            <div id="film_category">
                <p><b>GENEROS:</b> <br></p>
                {% for genre in movie.genres %}
                <div>
                    <li>{{genre.genre}}</li>
                </div>
                {% endfor %}
            </div>

            <div id="film_category">
                <p><b>PRODUCTS:</b> <br></p>
                {% for product in movie.products %}
                    {% if product.stock == 0 %}
                    {% else %}
                        <p>
                            <b>{{product.description}}:</b> {{product.price}} € 
                            <form action="{{ url_for('anadir_cesta', id=product.prod_id) }}" method="get">
                                <button class = "cesta_button"> Añadir a la cesta {{product.prod_id}}</button>
                            </form>
                        </p>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
