<!DOCTYPE HTML> 
<!--
Ejemplo de MongoDB
-->
<HTML> 
<HEAD> 
    <META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8"> 
    <TITLE>Ejemplo de MongoDB</TITLE>
</HEAD> 

<BODY>

    <h1> Ejemplo de MongoDB</h1>


    {% for movie_list in movies %}
        {%if loop.index == 1 %}
            <h2><b>Science fiction films (1994-1998)</b></h2>
        {% elif loop.index == 2 %}
            <h2><b>Drama films (1998) starting with "The"</b></h2>
        {% else %}
            <h2><b>Alec Baldwin and Julia Roberts collaborations</b></h2>
        {% endif %}
        <!-- TODO: tabla de películas SciFi -->
        <!-- TODO: tabla de películas Drama -->
        <!-- TODO: tabla de películas JR y AB -->

        <table>

            <tr>
                <th><h3><b>Title</b></h3></th>
                <th><h3><b>Genres</b></h3></th>
                <th><h3><b>Year</b></h3></th>
                <th><h3><b>Directors</b></h3></th>
                <th><h3><b></b>Actors</b></h3></th>
                <th><h3><b>Most related movies</b></h3></th>
                <th><h3><b>Related movies</b></h3></th>
            </tr>

        
            {% for movie in movie_list %}
                <tr>
                    <th>{{movie.title}}</th>
                    <th>
                        {% for genre in movie.genres %}
                            {{genre}}<br>
                        {% endfor %}
                    </th>
                    <th>{{movie.year}}</th>
                    <th>
                        {% for director in movie.directors %}
                            {{director}}<br>
                        {% endfor %}
                    </th>
                    <th>
                        {% for actor in movie.actors %}
                            {{actor}};
                        {% endfor %}
                    </th>
                    <th>
                        {% for rel_movie in movie.most_related_movies %}
                            {{rel_movie.title}};
                        {% endfor %}
                    </th>
                    <th>
                        {% for rel_movie in movie.related_movies %}
                            {{rel_movie.title}};
                        {% endfor %}
                    </th>
                </tr>
            {% endfor %}
        </table>
        <br>
        <br>
        <br>
        <br>

    {% endfor %}

</BODY>
</HTML>
