<!DOCTYPE html>
<html lang="en">
<head>
   {% block title %}
   <title> Video Club </title>
   {% endblock %}
   <script src="../sta  tic/scripts/codigo.js"></script>
   <link rel = "stylesheet" type = "text/css" href = "../static/css/estilo.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
   <!-- Header -->
   <div id = "header">
      <div id = "logo">
         <img src  = "../static/images/logo.jpg">
      </div>
      <div id = title_search>
         <div id = "title">
            <h1> Video Club César y Pedro</h1>
         </div>
         <div id = "search">
            <form action="{{ url_for('buscar') }}" method="post">
               <input type="text" name="busqueda" placeholder = "Buscar una pelicula...">
               <input type="submit" value="Buscar">
            </form>
         </div>
      </div>
      <div id = "logo">
         <img src  = "../static/images/logo.jpg">
      </div>
   </div>

   <!-- Side Menu -->
   <div id = "menu">
      <p> <b>MENÚ</b> </p>
      <p>
         <button class="button_cesar"> <a class="link" href="{{ url_for('inicio') }}">Inicio</a> </button>
      </p>
      <p>
         <button class="button_cesar"> <a class="link" href="{{ url_for('register') }}">Registrar</a> </button>
      </p>
      <p>
         <button class="button_cesar"> <a class="link" href="{{ url_for('login') }}">Iniciar Sesión</a> </button>
      </p>
      <p>
         <button class="button_cesar"> <a class="link" href="{{ url_for('cesta') }}">Cesta </a></button>
      </p>
      {% if logged_user %}
         <p>
            <button class="button_cesar"> <a class="link" href="{{ url_for('logout') }}">Logout </a></button>
         </p>
         <p>
            <button class="button_cesar"> <a class="link" href="{{ url_for('historial_compra') }}">Historial de Compras </a></button>
         </p>
         <p>

         {% if logged_user.data %}
            {% for key, value in logged_user.data.items() %}
               {% if key == 'username' %}
                  Username: {{value}} <br>
               {% endif %}
               {% if key == 'balance' %}
                  Balance: {{value}} € <br>
               {% endif %}
               {% if key == 'points' %}
                  Points: {{value}}
               {% endif %}
            {% endfor %}
         {% endif %}
         </p>
      {% else %}
         <p> Not logged in </p>
      {% endif %}
   </div>

   <!-- Searcher -->
   <div id = "searcher"></div>

   <!-- Content -->
   {% block content %}{% endblock %}

   <!-- Footer -->
   <footer> Copyright © Pedro Urbina & Cesar Ramirez </footer>
</body>
</html>
