<html>
   {% extends "base.html" %}
   <body>
      {% block content %}
      <div id = "cesta_content">
        <div id="return">
           <p>
              <button class = "button_cesar"> <a class="link" href="{{ url_for('cesta') }}">Volver</a> </button>
           </p>
        </div>
         {% for item in cesta %}
         <div id = "cesta_container">
            <div id = "cesta_picture">
               <img id = "image" src  = {{ item[0].poster }}>
            </div>
            <div id = "cesta_info">
               <p> <b>Título: </b>{{ item[0].titulo }} </p>
               <p> <b>Categoría: </b>{{ item[0].categoria }} </p>
               <p> <b>Cantidad: </b>{{ item[1] }} </p>
            </div>
            <div id = "cesta_price">
               <p> <b>Precio: </b>{{ item[0].precio }}€ </p>
            </div>
         </div>
         {% endfor %}
         <div id = "pagar_div">
            <div id = "fake_div"></div>
               <div id = "fake_div">
                     <button class = "button_cesar"><a class="link" href="{{ url_for('compra_finalizada', way='balance')}}">Pagar {{pago}}€</a> </button>
               </div>
               <div id = "fake_div">
                     <button class = "button_cesar"><a class="link" href="{{ url_for('compra_finalizada', way='points')}}"> Usar puntos </a> </button>
               </div>
            <div id = "fake_div"></div>
         </div>
      </div>
      {% endblock %}
   </body>
</html>
