{% extends "base.html" %}
      {% block content %}
      <div id="cesta_content">
        <br><br>
        <div id="return">
          <form class="" action="{{ url_for('cesta') }}" method="get">
            <button class="button_cesar"> Volver </button>
          </form>
        </div>
         {% for item in cesta %}
         <div id="cesta_container">
            <div id="cesta_picture">
               <img alt="" class="image" src={{ item[0].poster }}>
            </div>
            <div id="cesta_info">
               <p> <b>Título: </b>{{ item[0].titulo }} </p>
               <p> <b>Categoría: </b>{{ item[0].categoria }} </p>
               <p> <b>Cantidad: </b>{{ item[1] }} </p>
            </div>
            <div id="cesta_price">
               <p> <b>Precio: </b>{{ item[0].precio }}€ </p>
            </div>
         </div>
         {% endfor %}
         <div id="pagar_div">
            <div class="fake_div"></div>
               <div class="fake_div">
                  <form class="" action="{{ url_for('compra_finalizada', way='balance')}}" method="get">
                    <button class = "button_cesar">Pagar {{pago}}€ </button>
                  </form>
               </div>
               <div class="fake_div">
                     <button class = "button_cesar"><a class="link" href="{{ url_for('compra_finalizada', way='points')}}"> Usar puntos </a> </button>
               </div>
            <div class="fake_div"></div>
         </div>
      </div>
{% endblock %}
