<html>
   {% extends "base.html" %}
   <body>
      {% block content %}
      <div id = "cesta_content">
         <div id="exito_compra">
           {% if way == 'points' %}
              <p style="color:red"><b> No dispone de puntos suficientes para realizar esta compra. </b></p>
            {% else %}
              <p style="color:red"><b> No dispone de balance suficiente para realizar esta compra. </b></p>
            {% endif %}
         </div>
         {% for item in cesta %}
         <div id = "cesta_container">
            <div id = "cesta_picture">
               <img id = "image" src  = {{ item[0].poster }}>
            </div>
            <div id = "cesta_info">
               <p> <b>Título: </b>{{ item[0].titulo }} </p>
               <p> <b>Categoría: </b>{{ item[0].categoria }} </p>
               <p> <b>Cantidad: </b>{{ item[1] }} </p>
            </div>
            <div id = "cesta_price">
               <p> <b>Precio: </b>{{ item[0].precio }}€ </p>
            </div>
         </div>
         {% endfor %}
         <div id="return">
            <p>
               <button class = "button_cesar"> <a class="link" href="{{ url_for('inicio') }}">Continuar Comprando</a> </button>
            </p>
         </div>
      </div>
      {% endblock %}
   </body>
</html>
