<html>
   {% extends "base.html" %}
   <body>
      {% block content %}
      <div id = "content_for_film">
      <div id="film_content">
         <div id="film_title_cont">
            <div id="return">
               <p>
                  <button class = "button_cesar"> <a class="link" href="{{ url_for('inicio') }}">Volver</a> </button>
               </p>
            </div>
            <div id="film_title">
               <h2> {{movie.titulo}} </h2>
            </div>
            <div id="fake_div">
            </div>
         </div>
         <div id = "film_picture">
            <img id = "image" src = {{movie.poster}}>
         </div>
         <div id = "film_info">
            <div id = "film_director">
               <p>
                  <b>Director:</b> <br> {{movie.director}}
               </p>
            </div>
            <div id = "film_category">
               <p>
                  <b>Categoria:</b> <br> {{movie.categoria}}
               </p>
            </div>
            <div id = "film_actors">
              <p><b>Actores:</b> <br></p>
               {% for actor in movie.actores %}
               <div>
                  <p>
                     <b>Nombre</b>: {{actor.nombre}}. <b>Personaje</b>: {{actor.personaje}}. <br>
                  </p>
               </div>
               {% endfor %}
            </div>
         </div>
         <div id="rent_price">
            <div id="price">
               <p> <b>Precio del alquiler</b>: {{movie.precio}} € </p>
            </div>
            <div id="rent">
              <form action="{{ url_for('anadir_cesta', id=movie.id) }}" method="post">
                <button class = "cesta_button"> Añadir a la cesta </button>
              </form>
            </div>
         </div>
      </div>
    </div>
      {% endblock %}
   </body>
</html>
