<html>
    <head>
        <link rel = "stylesheet" type = "text/css" href = "../static/css/estilo.css">
        <script src="../static/scripts/codigo.js"></script>
    </head>

    <body>
        <!-- Header -->
        <div id = "header">
            <div id = "logo">
                <img src  = "../static/images/logo.jpg">
            </div>
            <div id = title_search>
                <div id = "title">
                    <h1> Video Club César y Pedro</h1>
                </div>
            </div>
            <div id = "logo">
                <img src  = "../static/images/logo.jpg">
            </div>
        </div>

    </body>
</html>