<html>
   {% extends "base.html" %}
   <body>
      {% block content %}
      <div id = "cesta_content">
         <div id="title2">
            <p><b> HISTORIAL DE COMPRAS </b> </p>
         </div>


         <div id = "search">
            <p><b> Añadir saldo </b> </p>

            <form action="" method="post">
               <input type="text" name="saldo" placeholder = " Dinero a añadir">
               <input type="submit" value="Añadir">
            </form>
         </div>

         <div id = "cesta_container">
         {% for numero, lista_pelis, dinero_pedido in shopping_list %}
            <div id = "cesta_info">
               <p> <b>Numero de pedido: </b>{{ numero }} </p>
               <p> <b>Peliculas del pedido: </b></p>
               {% for item, cantidad in lista_pelis %}
                  <p> {{ item.titulo }}, {{ item.precio }}€ (cantidad: {{ cantidad }}) </p>
               {% endfor %}
               <p><b>Total: </b> {{ dinero_pedido }} € </p>
            </div>
         {% endfor %}
         </div>
      </div>
      {% endblock %}
   </body>
</html>
