<html>
   {% extends "base.html" %}
   <body>
      {% block content %}
      <div id = "cesta_content">
         <div id="title2">
            <p><b> HISTORIAL DE COMPRAS </b> </p>
         </div>
         

         <div id = "search">
            <p><b> Añadir saldo </b> </p>

            <form action="" method="post">
               <input type="text" name="saldo" placeholder = " Dinero a añadir">
               <input type="submit" value="Añadir">
            </form>
         </div>


         {% for item in film_list %}
         <div id = "cesta_container">
            <div id = "cesta_picture">
               <img id = "image" src  = {{ item[0].poster }}>
            </div>
            <div id = "cesta_info">
               <p> <b>Título: </b>{{ item[0].titulo }} </p>
               <p> <b>Categoría: </b>{{ item[0].categoria }} </p>
               <p> <b>Cantidad: </b>{{ item[1] }} </p>
            </div>
            <div id = "cesta_price">
               <p> <b>Precio: </b>{{ item[0].precio }}€ </p>
            </div>
         </div>
         {% endfor %}
      </div>
      {% endblock %}
   </body>
</html>
