<html>
   {% extends "base.html" %}
   <body>
      {% block content %}
      <div id = "content">
         {% for item in movies %}
         <div id = "movie_container">
            <div id = "movie_picture">
               <a href = "{{ url_for('film', id=item.id) }}">
               <img id = "image" src  = {{ item.poster }}>
               </a>
            </div>
            <div id = "movie_title">
               <p> {{ item.titulo }} </p>
            </div>
         </div>
         {% endfor %}
      </div>
      {% endblock %}
   </body>
</html>
