<html>
   {% extends "base.html" %}
   <body>
      {% block content %}
      <!-- Login Menu -->
      <div id="login_menu">
         <div id = "campo">
            <input id="user" class="textbox" type="text" placeholder=" Usuario">
         </div>
         <div id = "campo">
            <input id="pass" class="textbox" type="password" placeholder=" Contraseña" required >
         </div>
         <div id = "campo">
            <button class="button" onclick="login()">Log In</button>
         </div>
         <div>
            <a href="{{ url_for('register') }}">Si aún no tiene cuenta, haga click aquí.</a>
         </div>
      </div>
      {% endblock %}
   </body>
</html>
