<html>
    <head>
        <link rel = "stylesheet" type = "text/css" href = "../static/css/estilo.css">
        <script src="../static/scripts/codigo.js"></script>
        <base target="_parent">
    </head>

    <body>
        <!-- Side Menu -->
        <div id = "menu">
            <p> <b>MENÚ</b> </p>
            <p>
                <button class="button_cesar"> 
                    <a class="link" href="inicio.html">
                        Inicio
                    </a> 
                </button>
            </p>
            <p>
                <button class="button_cesar"> 
                    <a class="link" href="register.html">
                        Registrar
                    </a> 
                </button>
            </p>
            <p>
                <button class="button_cesar"> 
                    <a class="link" href="login.html">
                        Iniciar Sesión
                    </a> 
                </button>
            </p>
            <p> 
                <button class="button_cesar">
                    Cesta
                </button> 
            </p>
            </div>
            
        <div id = "searcher"></div>

    </body>
</html>