<html>
   {% extends "base.html" %}
   <body>
      {% block content %}
      <!-- Register Menu -->
      <form action="" method="POST" id="login_menu">
         <script src="../static/scripts/codigo.js"></script>

         <div id = "campo">
            <input id="new_user" name="username" class="textbox" type="text" placeholder=" Nombre de usuario" required>
         </div>
         <div id = "campo">
            <input id="new_pass" name="password" class="textbox" type="password" placeholder=" Contraseña" required >
         </div>
         <div id = "campo">
            <input id="new_pass_repeat" name="repeated_password"class="textbox" type="password" placeholder=" Repita la contraseña" required >
         </div>
         <div id = "campo">
            <input id="new_email" name="email" class="textbox" type="text" placeholder=" Email" required>
         </div>
         <div id = "campo">
            <input id="new_credit_card" name="credit_card" class="textbox" type="text" placeholder=" Tarjeta de crédito" required>
         </div>
         <div id = "campo">
            <input id="direccion_envio" name="direccion_envio" class="textbox" type="text" placeholder=" Dirección de envío" required>
         </div>
         <div id = "campo">
            <button class="button" onclick="register()">Registrar</button>
         </div>
         <div>
            <a href="{{ url_for('login') }}"> Iniciar Sesión </a>
         </div>

         {% if username_already_exists %}
         <div>
            <p> User already exists, try another username! </p>
         </div>
         {% endif %}
         
      </form>
      {% endblock %}
   </body>
</html>
